<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Book</title>
</head>
<body>
    <h1>Add New Book</h1>

    <form th:action="@{/books/add}" method="post" th:object="${book}">
        <label>Title:</label>
        <input type="text" th:field="*{title}" />
        <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color: red;"></div>
        <br/>

        <label>Author:</label>
        <input type="text" th:field="*{author}" />
        <div th:if="${#fields.hasErrors('author')}" th:errors="*{author}" style="color: red;"></div>
        <br/>

        <label>Price:</label>
        <input type="number" step="0.01" th:field="*{price}" />
        <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" style="color: red;"></div>
        <br/>

        <button type="submit">Add Book</button>
    </form>

    <br/>
    <a th:href="@{/books}">Back to Book List</a>
</body>
</html>
